
#myTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#myTable thead th {
    background-color: #D9D9D9;
}

#myTable tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

#myTable tbody tr:hover {
    background-color: #a0a0a0;
}

#myTable_paginate {
    margin-top: 10px;
}

.dataTables_filter input {
    width: 200px;
    border: 1px solid #888888;
    border-radius: 4px;
    padding:16px;
    margin-bottom: 16px;
}

#dialog-form {
    display: none;
    background-color: #f8a8a8;
    padding: 20px;
    font-size: large;
}


 #dialog-form label,
#dialog-form input {
    display: block;
    margin-bottom: 10px;
}

#dialog-form input {
    width: 95%;
    padding: 5px;
}

#dialog-form button {
    width: 50%;
    cursor: pointer;
} 

.ui-widget-header,.ui-state-default, .ui-button{  
    background:#b9cd6d;  
    border: 1px solid #b9cd6d;  
    color: #FFFFFF;  
    font-weight: bold;
    width: 100%;  
 }  

 .ui-button{
    cursor: pointer;
 }